https://www.youtube.com/watch?v=5bUn-D4eL4k

### Create your own Finance DataBase with Python & SQL [perfect for backtesting trading strategies]

In [38]:
import sqlite3
import sqlalchemy
import pandas as pd
import yfinance as yf

### Create symbols for the India and US market

In [39]:
wiki = 'https://en.wikipedia.org/wiki/'
tickerSensex = pd.read_html(wiki + 'BSE_SENSEX')[1].Symbol.to_list()
tickerDow = pd.read_html(wiki + 'Dow_Jones_Industrial_average')[1].Symbol.to_list()

### Create data frame for india and us market

In [ ]:
def getdata(tickers):
    data=[]
    for ticker in tickers:
        data.append(yf.download(ticker).reset_index())
    return data

In [41]:
India, US = getdata(tickerSensex),getdata(tickerDow)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

### Create Engine for India and US market

In [42]:
def createengine(name):
    engine = sqlalchemy.create_engine('sqlite:///'+name)
    return engine

In [46]:
Indiaengine, USengine = createengine('India1'),createengine('USA')

In [47]:
def TOSQL ( frames, symbols, engine):
    for frame, symbol in zip(frames,symbols):
        frame.to_sql(symbol,engine,index=False)
    print('Successfully imported data')

In [48]:
TOSQL(India,tickerSensex,Indiaengine)

Successfully imported data

In [49]:
TOSQL(US,tickerDow,USengine)

Successfully imported data

In [50]:
from sqlalchemy import text
with Indiaengine.begin() as conn:
    query = text('Select * from "ASIANPAINT.BO"')
    df= pd.read_sql(query,conn)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03 00:00:00.000000,27.066631,27.066631,27.066631,27.066631,1.038096,0
1,2000-01-04 00:00:00.000000,27.066631,27.066631,27.066631,27.066631,1.038096,0
2,2000-01-05 00:00:00.000000,27.066631,27.066631,27.066631,27.066631,1.038096,0
3,2000-01-06 00:00:00.000000,27.066631,27.066631,27.066631,27.066631,1.038096,0
4,2000-01-07 00:00:00.000000,27.066631,27.066631,27.066631,27.066631,1.038096,0
...,...,...,...,...,...,...,...
6073,2024-06-14 00:00:00.000000,2910.000000,2931.000000,2905.000000,2920.199951,2920.199951,50240
6074,2024-06-18 00:00:00.000000,2920.199951,2930.000000,2905.649902,2917.800049,2917.800049,18094
6075,2024-06-19 00:00:00.000000,2920.000000,2921.449951,2883.250000,2892.649902,2892.649902,107404
6076,2024-06-20 00:00:00.000000,2892.600098,2923.250000,2875.050049,2915.100098,2915.100098,61142
6077,2024-06-21 00:00:00.000000,2920.350098,2926.149902,2882.100098,2888.050049,2888.050049,13468

In [51]:
from sqlalchemy import text
with Indiaengine.begin() as conn:
    query = text('Select * from "NTPC.BO" WHERE Close>Open')
    df= pd.read_sql(query,conn)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-11-22 00:00:00.000000,61.458088,63.958076,59.999760,61.958084,38.775513,14953967
1,2004-11-23 00:00:00.000000,62.458084,63.708076,62.333084,63.166412,39.531727,11743639
2,2004-11-24 00:00:00.000000,63.624744,64.958076,63.499744,64.791405,40.548698,11754266
3,2004-11-30 00:00:00.000000,64.749741,66.416405,64.083076,65.958069,41.278835,18826971
4,2004-12-02 00:00:00.000000,66.749733,67.833061,66.541397,67.041397,41.956825,8370320
...,...,...,...,...,...,...,...
2090,2024-05-29 00:00:00.000000,362.200012,366.350006,360.049988,364.600006,364.600006,269818
2091,2024-06-03 00:00:00.000000,384.100006,393.750000,374.000000,391.950012,391.950012,1272716
2092,2024-06-06 00:00:00.000000,348.299988,359.799988,345.100006,350.000000,350.000000,834571
2093,2024-06-07 00:00:00.000000,352.399994,362.149994,347.649994,360.700012,360.700012,1901927
2094,2024-06-12 00:00:00.000000,369.950012,373.950012,365.250000,371.350006,371.350006,642791

### Simple Stock Recommendation System based on Technical Trading Indicators (ta) using Python & SQL

In [52]:
with Indiaengine.begin() as conn:
    query = text('Select name from sqlite_master where type="table"')
    names= pd.read_sql(query,conn)
names=names.name.to_list()
names

['ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'HCLTECH.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'JSWSTEEL.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TATAMOTORS.BO',
 'TATASTEEL.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO',
 'WIPRO.BO']

In [53]:
framelist=[]
for name in names:
    with Indiaengine.begin() as conn:
        query = text(f'select Date,Close From "{name}"')
        dfs=pd.read_sql(query,conn)
        framelist.append(dfs)
framelist[0]

                            Date        Close
0     2000-01-03 00:00:00.000000    27.066631
1     2000-01-04 00:00:00.000000    27.066631
2     2000-01-05 00:00:00.000000    27.066631
3     2000-01-06 00:00:00.000000    27.066631
4     2000-01-07 00:00:00.000000    27.066631
...                          ...          ...
6073  2024-06-14 00:00:00.000000  2920.199951
6074  2024-06-18 00:00:00.000000  2917.800049
6075  2024-06-19 00:00:00.000000  2892.649902
6076  2024-06-20 00:00:00.000000  2915.100098
6077  2024-06-21 00:00:00.000000  2888.050049

[6078 rows x 2 columns]

### Make function to determine decission

#### MACD decision

In [63]:
def MACDSignal(df):
    df['EMA12']= df.Close.ewm(span=12).mean()
    df['EMA26']= df.Close.ewm(span=26).mean()
    df['MACD'] = df.EMA12 - df.EMA26
    df['Signal'] = df.MACD.ewm(span=9).mean()
    df['MACD_diff']=df.MACD - df.Signal
    print('indicators added')
    #If the difference is Above zero then MACD is above signal line and also if the previous day the difference was below zero then its a Buy
    df.loc[(df['MACD_diff']>0) & (df.MACD_diff.shift(1)<0),'Decision MACD']='Buy'
    df.loc[(df['MACD_diff']<0) & (df.MACD_diff.shift(1)>0),'Decision MACD']='Sell'

#### RSI decision

In [64]:
import pandas_ta as ta
def RSI_SMASignal(df):
    df['RSI']=ta.rsi(df['Close'],length=10).round(1)
    df['SMA200'] = ta.sma(df.Close,lenght=200)
    df.loc[(df.Close>df.SMA200) & (df.RSI<30),'Decision RSI/SMA']='Buy'
    df.loc[(df.Close>df.SMA200) & (df.RSI>70),'Decision RSI/SMA']='Sell'

#### Golden crossover decision

In [75]:
import numpy as np
def GCSignal(df):
    df['SMA50']=ta.sma(df.Close,length=50)
    df['SMA200'] = ta.sma(df.Close,length=200)
    df['buySignal']=np.where(df.SMA50>df.SMA200,1,0)
    df['sellSignal']=np.where(df.SMA50<df.SMA200,1,0)
    df['Decision Buy GC']= df.buySignal.diff()
    df['Decision Sell GC']= df.sellSignal.diff()

### Loop over the stock universe of Sensex to determine the signals

In [73]:
for frame in framelist:
    MACDSignal(frame)
    RSI_SMASignal(frame)
    GCSignal(frame)

indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added
indicators added

In [67]:
for name, frame in zip(names, framelist):
    if frame['Decision MACD'].iloc[-1]=='Sell':
        print("Buy Signal with MACD for "+name)

Buy Signal with MACD for LT.BO
Buy Signal with MACD for M&M.BO

In [68]:
for name, frame in zip(names, framelist):
    if frame['Decision RSI/SMA'].iloc[-1]=='Sell':
        print("Buy Signal with RSI for "+name)

In [74]:
for name, frame in zip(names, framelist):
    if frame['Decision Sell GC'].iloc[-1]==1:
        print("Sell Signal with Golden crossover for "+name)

Sell Signal with Golden crossover for TATAMOTORS.BO
Sell Signal with Golden crossover for TITAN.BO

### To update the database on Daily basis

In [34]:
import datetime as dt
for name in names:
    df_new = yf.download(name,start=dt.datetime.now()).reset_index()
    df_new.to_sql(name,Indiaengine,if_exists='append',index=False)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed